# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# google client secret files
client_secret_*.json
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

#  youtube api- AIzaSyDbSYG1jrjJPrWlEtDTiAfnDGhTISwsZVk
youtube_api_key.txt
youtube_api_key_backup.txt
youtube_api_key_*.txt

.env.local
.env.*.local



