.beliefs-hero {
    min-height: 300px;
    height: 40vh;
    background-image: url('/cropped-GLCS-Logo-removebg.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: rgb(247, 253, 255);  
    text-align: center;
}

span.italic {
    font-style: italic;
}

hr {
    width: 75%;
    margin: 1rem 0;
}

h4 {
    margin-bottom: 1rem;
    text-decoration: underline;
}