* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeHero-bg1{
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 300px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/Sanctuary-1024x768.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 8, 255, 0.1); 
  background-blend-mode: overlay;
  position: relative;
  text-align: center;

}
/* .homeHero-bg2 {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  background-image: url('/cropped-GLCS-Logo-removebg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  width: 75%;
  height: 25%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
} */


.gracename {
    background: linear-gradient(90deg, #000000f1 50%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 5rem;
    text-shadow:
        2px 0px 2px rgba(236, 116, 4, 0.76),
        2px 2px 2px rgba(4, 161, 252, 0.829);
}
 



.home-intro {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
    
}



.church-card {
    background-image: url('/Logo-removebg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 25%;
    height: 150px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 5;
    bottom: 2rem;
    background-color: rgb(247, 253, 255);
    border: 1px solid #ccc;
}
 .school-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 150px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 5;
    bottom: 2rem;
    background-color: rgb(247, 253, 255);
    border: 1px solid #ccc;
}
.donation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 150px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 5;
    bottom: 2rem;
    background-color:  rgb(247, 253, 255);
    border: 1px solid #ccc;
}

.pastor-message-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding:10px;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 5;
    
    background-color:  rgb(247, 253, 255);
    border: 1px solid #ccc;
}

.main-content {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
} 


.search-bible {
    margin: 0 auto; 
    align-self: center;
}

iframe {
  
    
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

.youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}