.worshipview-hero {
  position: absolute;
  border-radius: 5px;
  inset: 0;
  width: 100%;
  min-height: 300px;
  height: 40vh;
  margin-top: .5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/Grace-Collage3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 104%;
  margin-bottom: 20px;
  
}

.worshipview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(219, 244, 252, 0.8);
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.worshipview-about {
  padding: 2rem;
  background-color: rgba(219, 244, 252, 0.8);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width:95%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.worshipview-special {
  padding: 2rem;
  background-color: rgba(219, 244, 252, 0.8);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width:95%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.worshipview-communion {
  padding: 2rem;
  background-color: rgba(219, 244, 252, 0.8);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width:95%;
  margin: 0 auto;
  text-align: center;
}

.about-holy {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #084c8d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
