
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

* {
  margin: 0;
  padding:0;
}


.girassol-regular {
  font-family: "Girassol", serif;
  font-weight: 400;
  font-style: normal;
}



body, html, * {
  font-family: "Girassol", serif;
}

